@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label ">标题</label>
            <div class="col-sm-8">
                <span id="title" col="Title" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">内容</label>
            <div class="col-sm-8">
                <span id="content" col="Content" type="text" class="form-control" style="height:150px"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">发送时间</label>
            <div class="col-sm-8">
                <span id="baseCreateTime" col="BaseCreateTime" type="text" class="form-control" />
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        getForm();

        $('#form').validate({
            rules: {
                fromId: { required: true }
            }
        });
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/UserMsg/GetViewFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Status) {
                        $('#form').setWebControls(obj.Result);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/UserMsg/SaveViewFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Status) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

